@{
    ViewData["Title"] = "Políticas de privacidad";
}
<h1>@ViewData["Title"]</h1>

<textarea class="form-control text-area-privacity" disabled>
Política de Privacidad de Gestor de Tareas

En Gestor de Tareas, nos tomamos muy en serio la privacidad de nuestros usuarios. A continuación, te explicamos cómo recopilamos, utilizamos y protegemos tus datos personales:

Información del Responsable del Tratamiento:
Gestor de Tareas
Ecuador, Guayaquil
gregorio.chisan@gmail.com

Datos Personales Recopilados:
Describimos los tipos de datos que recopilamos, como nombres, direcciones de correo electrónico, información de contacto, etc.

</textarea>
